* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1rem;
}

body {
  max-width: 1400px;
}

.header .image-button,
main .image-button,
footer .image-button {
  padding-top: 2rem;
}
.header .image-button a,
main .image-button a,
footer .image-button a {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 0.6rem;
  transition: 0.5s ease-in-out;
}
.header .image-button a:hover,
main .image-button a:hover,
footer .image-button a:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
}
.header .arrow-on-right,
main .arrow-on-right,
footer .arrow-on-right {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.header .arrow-on-right .fa-arrow-right,
main .arrow-on-right .fa-arrow-right,
footer .arrow-on-right .fa-arrow-right {
  color: #38B3E8;
  width: 12.24px;
  height: 12.21px;
  padding: 0 0.7rem;
}

.header {
  background-image: url("../Images/image-two.jpg");
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 70vh;
}
.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-color: white;
}
.header .nav .logo {
  margin: auto 2rem;
  color: #38B3E8;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  padding-bottom: 0.5rem;
}
.header .nav .logo span {
  font-size: 2.5rem;
  font-weight: 900;
  color: #006FB7;
}
.header .nav__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 1rem;
}
.header .nav__menu__item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.header .nav__menu .drop-down .select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.header .nav__menu .drop-down .menu {
  list-style-type: none;
  position: absolute;
  left: 21rem;
  top: 5.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #006FB7;
  z-index: 20;
  opacity: 0;
  display: none;
}
.header .nav__menu .drop-down .menu .nav__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header .nav__menu .drop-down .menu .nav__container ul {
  padding: 2rem;
}
.header .nav__menu .drop-down .menu .nav__container ul p {
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
}
.header .nav__menu .drop-down .menu .nav__container ul li {
  color: white;
  padding: 0.3rem;
  list-style: none;
}
.header .nav__menu .drop-down .menu .nav__container .menu__white {
  background-color: white;
}
.header .nav__menu .drop-down .menu .nav__container .menu__white p {
  color: #363635;
}
.header .nav__menu .drop-down .menu .nav__container .menu__white li {
  color: #363635;
}
.header .nav__menu .drop-down .menu-open {
  display: block;
  opacity: 1;
  cursor: pointer;
}
.header .nav__menu a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #363635;
  font-weight: 700;
}
.header .nav .hamburger {
  display: none;
  cursor: pointer;
  padding-right: 2rem;
}
.header .nav .hamburger__bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #006FB7;
  transition: all 0.3s ease-in-out;
}
.header__text-top {
  position: absolute;
  top: 9rem;
  left: 4rem;
}
.header__text-top span {
  color: white;
  font-size: 3rem;
  padding: 0.5rem;
  margin: 0.5rem;
  font-weight: 700;
  background-color: #006FB7;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.header__text-bottom {
  position: absolute;
  right: 7rem;
  bottom: 13rem;
  background-color: #F6F5ED;
  color: #006FB7;
  padding: 3rem;
}
.header__text-bottom h2 {
  font-size: 2rem;
}
.header__text-bottom p {
  margin-left: 0.8rem;
}

@media only screen and (min-width: 300px) and (max-width: 950px) {
  .header .nav {
    z-index: 10;
  }
  .header .nav__menu {
    position: fixed;
    right: -100%;
    top: 80px;
    gap: 0;
    flex-direction: column;
    background-color: #006FB7;
    width: 100%;
    text-align: center;
    transition: 0.3s ease-in-out;
  }
  .header .nav__menu.active {
    right: 0;
  }
  .header .nav__menu.active .menu {
    display: none;
  }
  .header .nav__item {
    background-color: #006FB7;
    padding: 1rem;
  }
  .header .nav__item i {
    color: white;
  }
  .header .nav__item a {
    color: white;
    text-transform: capitalize;
  }
  .header .nav__link {
    padding: 0.3rem;
    background-color: #006FB7;
    border-bottom: 2px solid white;
  }
  .header .nav .hamburger {
    display: block;
  }
  .header__text-top {
    left: 0;
    top: 7rem;
  }
  .header__text-top h1 {
    font-size: 2rem;
  }
  .header__text-bottom {
    padding: 1rem;
    left: 0.5rem;
    bottom: 17rem;
  }
  .header__text-bottom h2 {
    text-align: center;
  }
}
main .arrow-on-right,
footer .arrow-on-right {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
main .arrow-on-right .fa-arrow-right,
footer .arrow-on-right .fa-arrow-right {
  color: #38B3E8;
  width: 12.24px;
  height: 12.21px;
}
main .container,
footer .container {
  width: 100vw;
}
main .container__white,
footer .container__white {
  padding: 7rem 3rem;
}
main .container__white .heading,
footer .container__white .heading {
  text-align: center;
  color: #006FB7;
  padding-bottom: 1.5rem;
}
main .container__white .heading h2,
footer .container__white .heading h2 {
  font-size: 3.5rem;
}
main .container__white .custom-grid,
footer .container__white .custom-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}
main .container__white .custom-grid .col, main .container__white .custom-grid__image,
footer .container__white .custom-grid .col,
footer .container__white .custom-grid__image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
main .container__white .custom-grid .col img, main .container__white .custom-grid__image img,
footer .container__white .custom-grid .col img,
footer .container__white .custom-grid__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .container__white .custom-grid .col-one,
footer .container__white .custom-grid .col-one {
  grid-column: 1/2;
  grid-row: 1/3;
}
main .container__white .button,
footer .container__white .button {
  text-align: center;
  padding-top: 2rem;
}
main .container__white .button a,
footer .container__white .button a {
  text-decoration: none;
  padding: 0.7rem;
  border: 1px solid #006FB7;
  transition: 0.5s ease-in-out;
  color: #006FB7;
}
main .container__white .button a:hover,
footer .container__white .button a:hover {
  background-color: #006FB7;
  color: white;
}
main .container__white .row,
footer .container__white .row {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .container__white__image,
footer .container__white__image {
  width: 416px;
  height: 560px;
  overflow: hidden;
  position: relative;
}
main .container__white__image img,
footer .container__white__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .container__white .image-text,
footer .container__white .image-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: white;
  text-align: left;
  margin: 0.5rem;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  bottom: 2%;
}
main .container__white .image-text h3,
footer .container__white .image-text h3 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  color: white;
}
main .container__white .image-text p,
footer .container__white .image-text p {
  font-size: 1rem;
  font-weight: 400;
  color: white;
}
main .container__blue,
footer .container__blue {
  background-color: #006FB7;
  padding: 5rem;
}
main .container__blue .text-heading,
footer .container__blue .text-heading {
  text-align: center;
  padding-bottom: 2rem;
}
main .container__blue .text-heading h2,
footer .container__blue .text-heading h2 {
  color: white;
  font-size: 3.5rem;
  font-weight: 700;
}
main .container__blue .text-heading p,
footer .container__blue .text-heading p {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}
main .container__blue .row-blue .blue-col,
footer .container__blue .row-blue .blue-col {
  padding: 40px 0px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
main .container__blue .row-blue .blue-col ul,
footer .container__blue .row-blue .blue-col ul {
  padding: 0;
}
main .container__blue .row-blue .blue-col ul li,
footer .container__blue .row-blue .blue-col ul li {
  line-height: 2rem;
  cursor: pointer;
  list-style: none;
  padding-left: 0.5rem;
}
main .container__blue .row-blue .blue-col:nth-child(1),
footer .container__blue .row-blue .blue-col:nth-child(1) {
  background-color: white;
  color: #006FB7;
}
main .container__ivory,
footer .container__ivory {
  background-color: #F6F5ED;
  padding: 5rem 3rem;
}
main .container__ivory .row,
footer .container__ivory .row {
  padding: 1rem 0;
}
main .container__ivory .row .ivory-image-container,
footer .container__ivory .row .ivory-image-container {
  width: 524px;
  height: 446px;
  padding: 0;
}
main .container__ivory .row .ivory-image-container img,
footer .container__ivory .row .ivory-image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s ease-in-out;
  transform: scale(1);
}
main .container__ivory .row .ivory-image-container img:hover,
footer .container__ivory .row .ivory-image-container img:hover {
  transform: scale(0.9);
}
main .container__ivory .row .ivory-text-container,
footer .container__ivory .row .ivory-text-container {
  padding: 0;
}
main .container__ivory .row .ivory-text-container .ivory-text-box,
footer .container__ivory .row .ivory-text-container .ivory-text-box {
  padding: 5rem 10rem;
  width: 100%;
  height: 446px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
main .container__ivory .row .ivory-text-container .ivory-text-box h2,
footer .container__ivory .row .ivory-text-container .ivory-text-box h2 {
  font-size: 3.5rem;
  font-weight: 700;
  padding-bottom: 1rem;
  color: #363635;
}
main .container__ivory .row .ivory-button,
footer .container__ivory .row .ivory-button {
  padding-top: 2rem;
}
main .container__ivory .row .ivory-button a,
footer .container__ivory .row .ivory-button a {
  text-decoration: none;
  padding: 0.5rem;
  transition: 0.5s ease-in-out;
  color: #006FB7;
  border: 2px solid #006FB7;
}
main .container__ivory .row .ivory-button a:hover,
footer .container__ivory .row .ivory-button a:hover {
  color: white;
  background-color: #006FB7;
}
main .container__banner-blue,
footer .container__banner-blue {
  background-color: #38B3E8;
  padding: 3rem;
}
main .container__banner-blue .banner-left,
footer .container__banner-blue .banner-left {
  text-align: left;
  padding-left: 3rem;
}
main .container__banner-blue .banner-left h2,
footer .container__banner-blue .banner-left h2 {
  color: white;
  font-size: 3.5rem;
}
main .container__banner-blue .banner-left span,
footer .container__banner-blue .banner-left span {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
}
main .container__banner-blue .banner-right,
footer .container__banner-blue .banner-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  padding-right: 1rem;
  margin: 1rem;
}
main .container__banner-blue .banner-right .icon-style,
footer .container__banner-blue .banner-right .icon-style {
  width: 56px;
  height: 56px;
  background-color: white;
  border-radius: 50%;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #363635;
}
main .container.footer-row .col-3:first-child li,
footer .container.footer-row .col-3:first-child li {
  color: #38B3E8;
  font-weight: 600;
  padding-left: 0.5rem;
}
main .container.footer-row .col-3:nth-child(3) li:last-child,
footer .container.footer-row .col-3:nth-child(3) li:last-child {
  color: #38B3E8;
  font-weight: 600;
}
main .container.footer-row .col-3 p,
footer .container.footer-row .col-3 p {
  font-weight: 700;
  font-size: 20px;
  text-align: left;
  padding-bottom: 1rem;
  margin-left: 2.6rem;
}
main .container.footer-row li,
footer .container.footer-row li {
  list-style-type: none;
  padding: 0.2rem;
}

@media only screen and (min-width: 300px) and (max-width: 950px) {
  main .container__white {
    padding: 1rem;
  }
  main .container__white .custom-grid {
    display: flex;
    flex-direction: column;
  }
  main .container__white .image-text h3 {
    padding: 0;
  }
  main .container__white .button {
    padding-bottom: 1rem;
  }
  main .container__blue {
    padding: 2rem;
  }
  main .container__blue .row-blue .blue-col {
    display: block;
    padding: 1rem 2rem;
    list-style: none;
  }
  main .container__ivory {
    padding: 1rem;
  }
  main .container__ivory .row .ivory-text-container .ivory-text-box {
    padding: 2rem;
    justify-content: flex-start;
  }
  main .container__ivory .row .ivory-text-container .ivory-text-box h2 {
    font-size: 2.5rem;
  }
  footer .container__banner-blue {
    padding: 1rem;
  }
  footer .container__banner-blue .banner-left {
    text-align: center;
    padding: 0;
  }
  footer .container__banner-blue .banner-left h2 {
    font-size: 2rem;
  }
  footer .container__banner-blue .banner-left span {
    font-size: 1.2rem;
  }
  footer .container__banner-blue .banner-right {
    padding: 0;
  }
  footer .container__banner-blue .banner-right .icon-style {
    width: 50px;
    height: 35px;
    padding: 0.5rem;
  }
  footer .footer-row {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */