* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.image-button {
  padding-top: 2rem;
}
.image-button a {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 0.6rem;
  transition: 0.5s ease-in-out;
}
.image-button a:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
}

.image-text {
  position: absolute;
  left: 1rem;
  bottom: 2rem;
  color: white;
  text-align: left;
  padding: 1rem;
}
.image-text h3 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  color: white;
}
.image-text p {
  font-size: 1rem;
  font-weight: 400;
  color: white;
}

.header-image {
  background-image: url("../Images/image-two.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 70vh;
}
.header-image .header-text {
  position: absolute;
  top: 9rem;
  left: 4rem;
}
.header-image .header-text h1 {
  color: white;
  font-size: 3rem;
  padding: 0.5rem;
  margin: 0.5rem;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.5);
}
.header-image .header-text p:nth-child(2) {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.header-image .header-text p:last-child {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.header-image .img-bottom-text {
  position: absolute;
  right: 7rem;
  bottom: 13rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 3rem;
}
.header-image .img-bottom-text p {
  font-size: 2rem;
}
.header-image .img-bottom-text ul li {
  padding-bottom: 0.5rem;
  font-size: 1rem;
  list-style: upper-roman;
}
.header-image .nav {
  display: flex;
  justify-content: space-between;
  background-color: white;
}
.header-image .nav .logo {
  margin: auto 2rem;
  color: #38B3E8;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  padding-bottom: 0.5rem;
}
.header-image .nav .logo span {
  font-size: 2.5rem;
  font-weight: 900;
  color: #006FB7;
}
.header-image .nav ul {
  display: flex;
  list-style: none;
}
.header-image .nav li {
  list-style: none;
  margin: 1.5rem;
}
.header-image .nav li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #006FB7;
  font-weight: 700;
}

.container-white {
  padding: 7rem 3rem;
}
.container-white .heading {
  text-align: center;
  font-size: 1.8rem;
  color: #006FB7;
  padding-bottom: 1.5rem;
}
.container-white .custom-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}
.container-white .custom-grid .col {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.container-white .custom-grid .col img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container-white .custom-grid .col-one {
  grid-column: 1/2;
  grid-row: 1/3;
}
.container-white .button {
  text-align: center;
  padding-top: 2rem;
}
.container-white .button a {
  text-decoration: none;
  padding: 0.7rem;
  border: 1px solid #006FB7;
  transition: 0.5s ease-in-out;
  color: #006FB7;
}
.container-white .button a:hover {
  background-color: #006FB7;
  color: white;
}

.container-blue {
  background-color: #006FB7;
  padding: 5rem;
}
.container-blue .text-heading {
  text-align: center;
  padding-bottom: 2rem;
}
.container-blue .text-heading h2 {
  color: white;
  font-size: 3.5rem;
  font-weight: 700;
}
.container-blue .text-heading p {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}
.container-blue .row-blue .blue-col {
  padding: 40px 0px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.container-blue .row-blue .blue-col ul li {
  line-height: 2rem;
  cursor: pointer;
}
.container-blue .row-blue .blue-col:nth-child(1) {
  background-color: white;
  color: #006FB7;
}

.container-ivory {
  background-color: #F6F5ED;
  padding: 5rem 3rem;
}
.container-ivory .ivory-button {
  padding-top: 2rem;
}
.container-ivory .ivory-button a {
  text-decoration: none;
  padding: 0.5rem;
  transition: 0.5s ease-in-out;
  color: #006FB7;
  border: 2px solid #006FB7;
}
.container-ivory .ivory-button a:hover {
  color: white;
  background-color: #006FB7;
}
.container-ivory .ivory-image-container {
  width: 100%;
  height: 100%;
}
.container-ivory .ivory-image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s ease-in-out;
  transform: scale(0.9);
}
.container-ivory .ivory-image-container img:hover {
  transform: scale(1);
}
.container-ivory .col-7 .ivory-text-box {
  padding: 7rem;
  width: 100%;
  height: 100%;
  background-color: white;
}
.container-ivory .col-7 .ivory-text-box h2 {
  font-size: 3.5rem;
  font-weight: 700;
  padding-bottom: 1rem;
  color: #006FB7;
}

.container-white .row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-white .white-image-container {
  width: auto;
  height: auto;
  overflow: hidden;
  position: relative;
}
.container-white .white-image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container-banner-blue {
  background-color: #38B3E8;
  padding: 3rem;
}
.container-banner-blue .banner {
  text-align: center;
}
.container-banner-blue .banner h2 {
  color: white;
  font-size: 3.5rem;
}
.container-banner-blue .banner h4 {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
}

.footer-row .col-3:first-child li {
  color: #38B3E8;
  font-weight: 600;
}
.footer-row .col-3:nth-child(3) li:last-child {
  color: #38B3E8;
  font-weight: 600;
}
.footer-row .col-3 p {
  font-weight: 700;
  font-size: 20px;
  text-align: left;
  padding-bottom: 1rem;
  margin-left: 2.6rem;
}
.footer-row li {
  list-style-type: none;
  padding: 0.2rem;
}

@media only screen and (max-width: 600px) {
  .header-image .header-text {
    left: 0;
    top: 12.5rem;
  }
  .header-image .header-text h1 {
    font-size: 2rem;
  }
  .header-image .img-bottom-text {
    padding: 1rem;
    left: 0.5rem;
    bottom: 17rem;
  }
  .header-image .img-bottom-text p {
    text-align: center;
  }
  .header-image .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header-image .nav nav {
    display: none;
  }
  .header-image .nav ul {
    padding: 0;
  }
  .container-blue {
    padding: 2rem;
  }
  .container-blue .row-blue .blue-col {
    display: block;
    padding: 1rem;
    list-style: none;
  }
  .container-ivory {
    padding: 1rem;
  }
  .container-ivory .col-7 .ivory-text-box {
    padding: 1rem;
  }
  .container-ivory .col-7 .ivory-text-box h2 {
    font-size: 2rem;
  }
  .container-ivory .ivory-image-container img {
    transform: scale(1);
  }
  .container-ivory .ivory-button {
    padding-bottom: 1rem;
  }
  .container-white {
    padding: 1rem;
  }
  .container-white .custom-grid {
    display: flex;
    flex-direction: column;
  }
  .container-white .image-text h3 {
    padding: 0;
  }
  .container-white .button {
    padding-bottom: 1rem;
  }
  .container-banner-blue {
    padding: 1rem;
  }
  .container-banner-blue .banner {
    text-align: center;
  }
  .container-banner-blue .banner h2 {
    font-size: 2rem;
  }
  .container-banner-blue .banner h4 {
    font-size: 1.2rem;
  }
  .footer-row {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */